<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {{ partial "head.html" . }}

  <body>

    {{ partial "sidebar.html" . }}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
            <div class="pull-right icons">
                <a href="/blog/"><span class="fa fa-home"></span></a>
                <a href="/blog/post"><span class="fa fa-list"></span></a>
                <a href="/blog/About/"><span class="fa fa-street-view"></span></a>
                <a href="/blog/index.xml"><span class="fa fa-rss"></span></a>
            </div>
            <h3 class="masthead-title">
                <a href="/blog/" title="Home">{{ .Site.Params.Title }}</a>
                <small>{{ .Site.Params.Tagline }}</small>
            </h3>
        </div>
      </div>

      <div class="container content">
